*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  overflow-x:hidden;
}

::-webkit-scrollbar{
  width:0;
  display:none;
}

/* HEADER */
.header{
  height: 220px;
  background-image: url("../pic/background1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: visible;
}
/* OVERLAY */
.overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  z-index:1;
}

/* NAVBAR */
.navbar{
  position:relative;
  z-index:2;
}

/* LOGO */
.logo{
  height: 90px;
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(0 0 8px #FFD700);
  z-index:3;
}


/* MENU ICON */
.menu-icon{
  position:absolute;
  left:40px;
  top:18px;
  font-size:25px;
  color:white;
  cursor:pointer;
  z-index:5;
  display:flex;
  align-items:center;
  justify-content:center;
}
.menu-icon:hover{
  color:#FFD700;
}
/* RIGHT ICONS */
.right-icons{
  position:absolute;
  right:40px;
  top:18px;
  display:flex;
  align-items:center;
  gap:18px;
  z-index:5;
}


/* ADMIN ICON */
.admin-icon{
 font-size:25px;
  color:white;
  cursor:pointer;
  transition:0.3s;
  line-height:1;
}

.admin-icon:hover{
  color:#FFD700;
}

/* TITLE */

.title{
  position:absolute;
  bottom:40px;
  width:100%;
  text-align:center;
  z-index:2;
}

.title h1{
  color:white;
  font-size:55px;
  font-weight:bold;
}

.side-menu{
  position:fixed;
  left:-260px;
  top:0;
  width:260px;
  height:100%;
  background:black;
  transition:0.3s;
  padding-top:50px;
  z-index:999;
}

.side-menu a{
  display:block;
  color:white;
  padding:15px 25px;
  text-decoration:none;
  font-size:18px;
  transition:0.3s;
}

.side-menu a:hover{
  background:#333;
  color:#FFD700;
}

.side-menu a.active{
  background:#333;
  color:#FFD700;
}

.side-menu.open {
    left: 0px;
}

.close-btn{
  position:absolute;
  top:20px;
  right:20px;
  font-size:25px;
  color:white;
  cursor:pointer;
}

.close-btn:hover{
  color:#FFD700;
}
